html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  background: #000;
  color: #fff;
  font-family: sans-serif;
}
iframe {
  border: none;
  margin: 0;
  padding: 0;
}

#landing_container {
  position: relative;
}
#landing_image {
  margin: 0 auto;
  position: relative;
  top: 235px;
  background-image: url("../img/TITLE.gif");
  width: 1185px;
  height: 346px;
}

#logo {
  z-index: 100;
  position: absolute;
  right: 40px;
  top: 40px;
  display: none;
}
  #logo.fade-in {
    display: block;
  }

/* DIV containing street view image */
#background-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
  background-color: black;
}

/* DIV containing video source */
#source-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

/* Source video styling */
#vid {
  position: relative;
  top: 0;
  left: 0;
  width: 768px;
  z-index: 1;
  box-shadow: 0 0 30px 10px #000;
  -webkit-transition: width 1s linear;
}

/* Animation to minimize source video */
#source-container {
  -webkit-transition: top 1s linear, left 1s linear, width 1s linear;
}
#source-container.minimize {
  top: 60%;
  left: 10%;
  width: 25%;
}
#source-container.minimize #vid {
  width: 320px;
  box-shadow: none;
}
@-webkit-keyframes minimize {
  from {
    top: 0%;
    left: 0%;
    width: 100%;
  }
  to {
    top: 60%;
    left: 10%;
    width: 25%;
  }
}

/* Animation to maximize source video */
#source-container.maximize {
  top: 0%;
  left: 0%;
  width: 100%;
}
@-webkit-keyframes maximize {
  from {
    top: 60%;
    left: 10%;
    width: 25%;
  }
  to {
    top: 0;
    left: 0;
    width: 100%;
  }
}

/* hooray */
.ls-pause-2 .ls-anno-text {
  top: 20px;
  left: 900px;
  font-size: 26px;
}
.ls-pause-2 .ls-anno-vid {
  top: 20px;
  left: 50px;
  width: 400px;
}
.ls-pause-2 .ls-anno-img {
  top: 20px;
  left: 50px;
  width: 400px;
}


/* annotation objects */
.ls-anno-box {
  position: absolute;
  z-index: 15;
}
.ls-anno-object {
  position: absolute;
  z-index: 2;
  -webkit-transition: 200ms -webkit-transform linear;
  -webkit-transform: scale(0.8);
  /*
  -webkit-transition: 200ms width linear, 200ms height linear, 200ms top linear, 200ms left linear;
  */
  border: 2px solid rgba(255, 255, 255, 0.86);
  -webkit-box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.66);
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.66);
}
.ls-anno-vid {
  cursor: pointer;
}
.ls-anno-text {
  background: rgba(0,0,0,0.5);
  position: absolute;
  padding: 10px;
  font-size: 20px;
  width: 280px;
}
.ls-anno-img {
  position: absolute;
  opacity: 0.8;
  cursor: pointer;
}
.ls-anno-img:hover {
  opacity: 1;
}
  .ls-anno-img img {
    width: 100%;
  }
  .ls-anno-img .caption {
    display: none;
  }
body .ls-anno-box .ls-anno-img.large {
  background: rgba(0,0,0,0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}
  .ls-anno-img.large img {
    position: absolute;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    left: 50%;
  }
  .ls-anno-img.large .caption {
    background: rgba(0,0,0,0.3);
    position: absolute;
    display: block;
    font-size: 20px;
    width: 100%;
  }


/* animations */
.faded {
  opacity: 0;
}
.fade-in {
  -webkit-animation: fade-in 500ms;
  opacity: 1;
  display: block;
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Styling of video controls (counter for layers and play/pause) */
#video-controls {
  position: absolute;
  bottom: 0px;
  height: 100px;
  left: 0px;
  right: 0px;
  z-index: 20;
}

  #video-controls div {
    font-weight: bold;
    color: white;
    font-size: 50px;
  }

  #layer-label {
    float: left;
    font-size: 20px;
    margin: 10px 0px 0px 10px;
    position: relative;
    top: 40px;
    left: 51px;
  }
  #layer-counter {
    float: left;
    font-size: 60px;
    position: relative;
    height: 50px;
    width: 50px;
  }
    #layer-counter div {
     height: 6px;
     position: absolute;
     background-color: white;
     width: 34px;
     left: 6px;
    }

  /* Animation to give glow effect when layer is updated */
  .layer.glow {
   -webkit-animation: glow 1s;
   -webkit-box-shadow: 0px 0px 0px 0px #FFF966; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    box-shadow: 0px 0px 0px 0px #FFF966; /* Opera 10.5, IE9, Firefox 4+, Chrome 6+, iOS 5 */
  }
  @-webkit-keyframes glow {
    from {
     -webkit-box-shadow: 0px 0px 12px 1px #FFF966; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
      box-shadow: 0px 0px 12px 1px #FFF966; /* Opera 10.5, IE9, Firefox 4+, Chrome 6+, iOS 5 */
    }
    to {
     -webkit-box-shadow: 0px 0px 0px 0px #FFF966; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
      box-shadow: 0px 0px 0px 0px #FFF966; /* Opera 10.5, IE9, Firefox 4+, Chrome 6+, iOS 5 */

    }
  }

  #video-pause {
    float: right;
    margin: 0px 50px 20px 0px;
    background-image: url('../img/pause.png');
    width: 74px;
    height: 73px;
  }
    #video-pause:hover {
      text-shadow: 2px 2px 3px #888;
      cursor: pointer;
    }

  #video-play {
    float: right;
    margin: 0px 50px 20px 0px;
    display: none;
    background-image: url('../img/play.png');
    width: 74px;
    height: 73px;
  }
    #video-play:hover {
      text-shadow: 2px 2px 3px #888;
      cursor: pointer;
    }

#canvas-container canvas {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
  display: none;
}
  #canvas-container canvas.fade-in {
    display: block;
  }

#layer-boxes {
  position: absolute;
  top: 0;
  margin: 0 auto;
}
#layer-boxes .box {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #00aeef;
}

.passer {
  position: absolute;
  opacity: 0;
  z-index: 11;
  outline: 1px solid black;
}

.edit-form {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 30;
}
.edit-form textarea {
  display: block;
  font-family: monospace;
  background: transparent;
  width: 80%;
  height: 50%;
  color: #fff;
  padding: 20px;
  border: none;
  outline: none;
  resize: none;
}
